#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define LWR 1
#define RSE 2
#define ADJ 3

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
				&kp ESC			&kp W		&kp W 			&kp W    	&kp W     	&kp W      	&kp W   &kp W            	&kp R      &kp W   &kp W     &kp W      &kp W    &kp W &kp W &kp W			
				&bt BT_CLR 		&kp W		&kp W 			&kp W    	&kp W     	&kp W      	&kp W   &kp W            	&kp W      &kp W   &kp W     &kp W      &kp W    &kp W &kp W &kp W
                &bt BT_NXT 		&kp W		&kp TAB 		&kp Q    	&kp W     	&kp E      	&kp R   &kp T  	         	&kp Z      &kp U   &kp I     &kp O      &kp P     &kp W &kp W &kp W
                &kp W 			&kp W 		&kp CAPSLOCK	&kp A    	&kp S     	&kp D      	&kp F   &kp G            	&kp H      &kp J   &kp K     &kp L      &kp O     &kp W &kp W &kp W
                &kp LCTRL		&kp W 		&kp <			&kp LSHFT	&kp Y     	&kp X 		&kp C   &kp V            	&kp B      &kp N   &kp M     &kp COMMA  &kp DOT &kp FSLH &kp W &kp W
																		&kp W  		&kp W  		&kp W 	&kp W          		&kp W  &kp W  &kp W &kp W
																		&kp W 		&kp W   	&kp W 	&kp W         		&kp W  &kp W  &kp W &kp W
            >;
        };

        lower_layer {
            bindings = <
				&kp ESC			&kp W		&kp W 			&kp W    	&kp W     	&kp W      	&kp W   &kp W            	&kp R      &kp W   &kp W     &kp W      &kp W    &kp W &kp W &kp W			
				&bt BT_CLR 		&kp W		&kp W 			&kp W    	&kp W     	&kp W      	&kp W   &kp W            	&kp W      &kp W   &kp W     &kp W      &kp W    &kp W &kp W &kp W
                &bt BT_NXT 		&kp W		&kp TAB 		&kp Q    	&kp W     	&kp E      	&kp R   &kp T  	         	&kp Z      &kp U   &kp I     &kp O      &kp P     &kp W &kp W &kp W
                &kp W 			&kp W 		&kp CAPSLOCK	&kp A    	&kp S     	&kp D      	&kp F   &kp G            	&kp H      &kp J   &kp K     &kp L      &kp O     &kp W &kp W &kp W
                &kp LCTRL		&kp W 		&kp <			&kp LSHFT	&kp Y     	&kp X 		&kp C   &kp V            	&kp B      &kp N   &kp M     &kp COMMA  &kp DOT &kp FSLH &kp W &kp W
																		&kp W  		&kp W  		&kp W 	&kp W          		&kp W  &kp W  &kp W &kp W
																		&kp W 		&kp W   	&kp W 	&kp W         		&kp W  &kp W  &kp W &kp W
            >;
        };

        raise_layer {
            bindings = <
				&kp L &kp W &kp W &kp W    &kp W     &kp W      &kp W   &kp W            &kp R      &kp W   &kp W     &kp W      &kp W    &kp W &kp W &kp W			
				&kp W &kp W &kp W &kp W    &kp W     &kp W      &kp W   &kp W            &kp W      &kp W   &kp W     &kp W      &kp W    &kp W &kp W &kp W
                &kp W &kp W &kp W &kp S    &kp W     &kp E      &kp R   &kp T  	         &kp Z      &kp U   &kp I     &kp O      &kp P     &kp W &kp W &kp W
                &kp W &kp W &kp W &kp A    &kp R     &kp S      &kp T   &kp G            &kp H      &kp J   &kp K     &kp L      &kp O     &kp W &kp W &kp W
                &kp W &kp W &kp W &kp Z    &kp X     &kp C      &kp D   &kp V            &kp B      &kp N   &kp M     &kp COMMA  &kp DOT &kp FSLH &kp W &kp W
                                           &kp ESC   &kp EQUAL  &mo LWR &kp SPACE        &kp MINUS  &kp SQT &sk LSHFT &mo RSE
                                           &kp LCTRL &mo ADJ    &kp TAB &kp LALT         &kp LCTRL  &kp RET &kp LGUI  &kp BSPC
            >;
        };

        adjust_layer {
            bindings = <
				&kp L &kp W &kp W &kp W    &kp W     &kp W      &kp W   &kp W            &kp R      &kp W   &kp W     &kp W      &kp W    &kp W &kp W &kp W			
				&kp W &kp W &kp W &kp W    &kp W     &kp W      &kp W   &kp W            &kp W      &kp W   &kp W     &kp W      &kp W    &kp W &kp W &kp W
                &kp W &kp W &kp W &kp S    &kp W     &kp E      &kp R   &kp T  	         &kp Z      &kp U   &kp I     &kp O      &kp P     &kp W &kp W &kp W
                &kp W &kp W &kp W &kp A    &kp R     &kp S      &kp T   &kp G            &kp H      &kp J   &kp K     &kp L      &kp O     &kp W &kp W &kp W
                &kp W &kp W &kp W &kp Z    &kp X     &kp C      &kp D   &kp V            &kp B      &kp N   &kp M     &kp COMMA  &kp DOT &kp FSLH &kp W &kp W
                                           &kp ESC   &kp EQUAL  &mo LWR &kp SPACE        &kp MINUS  &kp SQT &sk LSHFT &mo RSE
                                           &kp LCTRL &mo ADJ    &kp TAB &kp LALT         &kp LCTRL  &kp RET &kp LGUI  &kp BSPC
            >;
        };
    };
};
