#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/*  #include "../zmk-nodefree-config/helper.h" */
#include "../../../../zmk-nodefree-config/helper.h"
#include "../../../../zmk-nodefree-config/international_chars/german.dtsi"

/* layer and key shortcuts */

#define ___ &trans

#define DEFAULT 0
#define ALTGR 1
#define ADJ 2
#define DVC 3

/* additional signs defined with unicode */  
ZMK_UNICODE_SINGLE(at,                  N0, N0, N4, N0)                     // @
ZMK_UNICODE_SINGLE(euro_sign,           N2, N0, A, C)                       // €
ZMK_UNICODE_SINGLE(micro_sign,          N0, N0, B, N5)                      // µ
ZMK_UNICODE_SINGLE(backsl,              N0, N0, N5, C)                      // Backslash
ZMK_UNICODE_SINGLE(tilde_sign,          N0, N0, N7, E)                      // ~
ZMK_UNICODE_SINGLE(pipe,                N0, N0, N7, C)                      // |
ZMK_UNICODE_SINGLE(ss_2,                N0, N0, B, N2)                      // ^2
ZMK_UNICODE_SINGLE(ss_3,                N0, N0, B, N3)                      // ^3
ZMK_UNICODE_PAIR(number_apostrophe,     N0, N0, N2, N3, N0, N0, N2, N7)     // # '
ZMK_UNICODE_PAIR(acute_grave_accent,    N0, N0, N6, N0, N0, N0, B, N4)      // ´ `
ZMK_UNICODE_PAIR(plus_asterisk,         N0, N0, N2, B,  N0, N0, N2, A)      // + *
ZMK_UNICODE_PAIR(hyphen_low_line,       N0, N0, N2, D,  N0, N0, N5, F)      // - _
ZMK_UNICODE_PAIR(cirfl_deg,             N0, N0, N5, E,  N0, N0, B, N0)      // ^ °
ZMK_UNICODE_PAIR(le_gr,                 N0, N0, N3, C,  N0, N0, N3, E)      // < >

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
				___             ___ 	        &kp ESC 			&kp F1 		    &kp F2 		    &kp F3 		    &kp F4 		    &kp F5             	    &kp F6	 	    &kp F7 		    &kp F8 		    &kp F9 		    &kp F10             &kp F11         &kp F12
				___             ___ 		    &cirfl_deg          &kp N1 		    &kp N2 		    &kp N3 		    &kp N4 		    &kp N5             	    &kp N6 		    &kp N7 		    &kp N8 		    &kp N9 		    &kp N0 		        &de_eszett      &acute_grave_accent
                ___             ___		        &kp TAB             &kp Q 		    &kp W 		    &kp E 		    &kp R 		    &kp T  	         	    &kp Y 		    &kp U 		    &kp I 		    &kp O 		    &kp P 		        &de_ue          &plus_asterisk
                ___             ___ 		    &le_gr  			&kp A	 	    &kp S 		    &kp D 		    &kp F 		    &kp G            	    &kp H 		    &kp J 		    &kp K  		    &kp L 		    &de_oe              &de_ae          &number_apostrophe
                ___             &kp LCTRL	    &kp LSHIFT	        &kp Z 	 	    &kp X 		    &kp C		    &kp V	 	    &kp B            	    &kp N 		    &kp M 		    &kp COMMA	    &kp DOT		    &hyphen_low_line    &kp LSHIFT 	    &kp ENTER
                                                                                    &kp LWIN 	    &kp LALT 	    &kp SPACE 	    ___      		        &mo DVC		    &mo ADJ         ___             &kp SPACE       &mo ALTGR           &kp RCTRL 
																	                &mo ADJ	        &mo DVC	        &mo ALTGR 	    ___        	 			    	 			
            >;
        };

        alt_gr_layer {                                                           
            bindings = <
				___             ___    		    ___     			___ 	 	    ___ 		    ___ 		    ___ 		    ___                     ___             ___             ___             ___             ___                 ___             ___
				___             ___    		    ___      			___ 		    ___ 		    ___ 		    ___ 		    ___             	    ___ 		    &kp LBRC	    &kp LBKT        &kp RBKT        &kp RBRC	        &backsl         &kp DEL 
                ___             ___ 	    	___      		    &at 		    ___ 		    &euro_sign	    ___        	    ___          		    ___ 		    &kp HOME	 	&kp UP 		    &kp END    	    ___      		    ___             &tilde_sign
                ___             ___    		    &pipe     			___ 	 	    ___ 		    ___ 		    ___ 		    ___             	    ___ 		    &kp LEFT	    &kp DOWN	 	&kp RIGHT	    ___ 		        ___      	    ___
                ___             ___    		    ___     			___ 	 	    ___ 		    ___ 		    ___	 	        ___                	    ___ 		    &micro_sign	    ___ 	 	 	___ 		    ___     	        ___ 	 	    ___
                                                                                    ___      	    ___     	    ___ 	        ___        		        ___		        ___             ___             &kp BSPC        ___                 ___ 
																	                ___             ___ 	        ___ 	        ___      	 	             
            >;
        };

        adjust_layer {
            bindings = <
				___             ___    		    ___     			___ 	 	    &ss_2 		    &ss_3 		    ___ 		    ___                     ___             ___             ___             ___             ___                 ___             ___
				___             ___    		    ___      			___ 		    ___ 		    ___ 		    ___ 		    ___             	    ___ 		    &kp N7 		    &kp N8 		    &kp N9          ___                 ___             ___ 
                ___             ___             ___      		    ___ 		    ___ 		    ___     	    ___        	    ___          		    ___ 		    &kp N4 		    &kp N5 		    &kp N6          ___      		    ___             ___
                ___             ___    		    ___     			___ 	 	    ___ 		    ___ 		    ___ 		    ___             	    ___ 		    &kp N1 		    &kp N2 		    &kp N3          ___ 		        ___      	    ___
                ___             ___    		    ___     			___ 	 	    ___ 		    ___ 		    ___	 	        ___                	    ___ 		    &kp N0     	    &kp COMMA 	 	&kp DOT		    ___     	        ___ 	 	    ___
                                                                                    ___      	    ___     	    ___ 	        ___        		        ___		        ___             ___             ___             ___                 ___ 
																	                ___             ___ 	        ___ 	        ___      	 	            	                    
            >;
        };

        device_layer {
            bindings = <
				___    		    ___      		___ 		        ___ 		    ___ 		    ___ 		    ___             ___                     &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4    &bt BT_SEL 5        &bt BT_CLR      &out OUT_TOG
				___    		    ___      		___ 		        ___ 		    ___ 		    ___ 		    ___             ___ 		            &kp W           ___             ___             ___             ___                 ___             ___ 
                ___             ___      		___ 		        ___ 		    ___     	    ___        	    ___          	___ 		            ___             ___ 		 	___ 		    ___       	    ___      		    ___             ___
                ___             ___      		___ 		        ___ 		    ___     	    ___        	    ___          	___ 		            ___             ___ 		 	___ 		    ___       	    ___      		    ___             ___
                ___             ___      		___ 		        ___ 		    ___     	    ___        	    ___          	___ 		            ___             ___ 		 	___ 		    ___       	    ___      		    ___             ___
                                                                                    ___      	    ___     	    ___ 	        ___        		        ___		        ___             &kp W           ___             ___                 ___ 
																	                ___             ___ 	        ___ 	        ___      	 	             
            >;
        };

    };
};