#include "dactyl_manuform_6x8.dtsi" // Notice that the main dtsi files are included in the overlay.

&kscan0 {
    col-gpios
        = <&gpio 9 GPIO_ACTIVE_HIGH>
        , <&gpio 8 GPIO_ACTIVE_HIGH>
        , <&gpio 7 GPIO_ACTIVE_HIGH>
        , <&gpio 6 GPIO_ACTIVE_HIGH>
        , <&gpio 5 GPIO_ACTIVE_HIGH>
		, <&gpio 4 GPIO_ACTIVE_HIGH>
		, <&gpio 3 GPIO_ACTIVE_HIGH>
		, <&gpio 101 GPIO_ACTIVE_HIGH>		
        ;
};
